# FastAPI
APP_NAME="Efficient AI-Based Development"
API_V1_STR="/api/v1"

# LLM Keys
UPSTAGE_API_KEY=""

# Oracle DB
DB_USER="teamproject"
DB_PASSWORD="team"
DB_HOST="34.61.144.150"
DB_PORT="1521"
DB_SERVICE_NAME="orclpdb1"

# LLM Models
LLM_MODEL_WRITER="solar-pro2"
LLM_MODEL_AUDITOR="solar-pro2"
LLM_MODEL_DECOMPOSER="solar-pro2"