# FastAPI
APP_NAME="Efficient-AI-Dev System"
API_V1_STR="/api/v1"

# LLM Keys
UPSTAGE_API_KEY=""

# Oracle DB
DB_USER=""
DB_PASSWORD=""
DB_HOST=""
DB_PORT="1521"
DB_SERVICE_NAME=""

# LLM Models
LLM_MODEL_WRITER="solar-2.5-pro"
LLM_MODEL_AUDITOR="solar-2.5-pro"
LLM_MODEL_DECOMPOSER="solar-2.5-pro"