# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.dist/
build/
dist/

# venv
.venv/
venv/

# OS/IDE
.DS_Store
.vscode/
.idea/

# FastAPI / Uvicorn
*.log

# Env & secrets
.env
.env.*
!.env.example

# Cache
.cache/
.mypy_cache/
.pytest_cache/

# Node (만약 프론트 같이 들어오면)
node_modules/